html, body {
  margin: 0;
  padding: 0;
}

body {
  background: hsl(0, 0%, 30%);
}

header {
  display: flex;
  background: hsl(0, 0%, 20%);
  align-items: center;
  padding: 5px;
  position: relative;

  & > div {
    padding: 0 10px;

  }

  .logo-container {
    flex: 0;
  }

  .searchbar-container {
    flex: 1;

    #searchbar-group {
      max-width: 70%;
      margin: 0 auto;
    }
  }

  .user-container {
    width: 150px;
    color: white;
    text-align: right;

    span {
      cursor: pointer;
      font-size: 24px;
    }
  }

  #user-popup-container {
    position: absolute;
    background: white;
    width: 150px;
    top: 36px;
    right: 0;

    a {
      text-align: left;
      display: block;
      font-size: 15px;
      color: black;
      padding: 5px 10px;
    }
  }

  .upload-btn-container {
    border-radius: 20px;
    background: green;
    color: white;
    width: 40px;
    height: 40px;
    text-align: center;

    &:hover {
      background: white;
      color: green;
    }

    i {
      line-height: 40px;
      vertical-align: middle;
      font-size: 25px;
    }
  }
}

main {
  margin-top: 40px;
}

#filter-container {
  text-align: right;
  position: relative;

  .sort-thing {
    cursor: pointer;
    color: hsl(0, 0%, 85%);
  }

  #sort-popup-container {
    position: absolute;
    right: 0;
    top: 24px;
    background: white;
    color: black;

    .sort-list {
      list-style-type: none;
      padding: 0;
      margin: 0;

      li {
        text-align: left;
        margin: 0;
        padding: 5px 30px;
        border-bottom: 1px solid hsl(0, 0%, 94%);
        cursor: pointer;

        &:last-child {
          border: 0;
        }

        &:hover {
          background: hsl(0, 0%, 96%);
        }
      }
    }
  }
}

.videos-container {
  // display: flex;
  // flex-direction: row;
  // flex-wrap: wrap;

  margin-top: 10px;

  .video-item {
    margin-bottom: 20px;

    .video-title {
      color: hsl(0, 0%, 65%);
      font-size: 20px;
      font-weight: bold;
      line-height: 1.2em;
      display: block;
      text-decoration: none;
      margin: 10px 0;

      &:hover {
        color: purple;
      }
    }

    .preview-container {
      position: relative;

      img {
        width: 100%;
      }

      .video-duration {
        display: inline-block;
        right: 0;
        bottom: 0;
        padding: 5px;
        background: hsl(0, 0%, 35%);
        color: hsl(0, 0%, 100%);
        font-size: 11px;
        position: absolute;
      }
    }

    .video-metadata {
      color: hsl(0, 0%, 46%);
      font-size: 12px;
    }
  }

}

.hide {
  display: none;
}